* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

@font-face {
  font-family: "MyCustomFont", Source Sans 3;
  src: url(SourceSans3-Regular.ttf);
}
#ban {
  background-image: url(bg-masthead.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-position: left center;
  position: relative;
}
#ban .navigation nav {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgb(33, 37, 41);
  z-index: 2;
  top: -100vh;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 1s;
}
#ban .navigation nav ul li {
  margin: 35px;
}
#ban .navigation nav ul li a {
  font-family: "MyCustomFont", Source Sans 3;
  font-size: 40px;
  color: grey;
  text-decoration: none;
  padding: 10px;
}
#ban .navigation nav i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 20px;
  width: 25px;
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
  color: white;
  background-color: rgb(104, 101, 101);
  border-radius: 4px;
}
#ban .navigation i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 20px;
  position: fixed;
  right: 30px;
  top: 30px;
  cursor: pointer;
  color: white;
  background-color: rgba(104, 101, 101, 0.8);
  border-radius: 4px;
}
#ban .banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#ban .banner h1 {
  font-family: "MyCustomFont", Source Sans 3;
  font-size: 50px;
}
#ban .banner .para1 {
  font-family: "MyCustomFont", Source Sans 3;
  font-weight: bold;
}
#ban .banner .button1 {
  font-family: "MyCustomFont", Source Sans 3;
  width: 130px;
  height: 50px;
  background-color: rgb(0, 128, 163);
  color: white;
  padding: 20px;
  border: rgb(0, 128, 163);
  border-radius: 3px;
  text-decoration: none;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

#about {
  overflow-x: hidden;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#about h2 {
  font-family: "MyCustomFont", Source Sans 3;
  padding-bottom: 5px;
}
#about .para2 {
  font-family: "MyCustomFont", Source Sans 3;
  font-weight: lighter;
  color: rgb(87, 83, 83);
}
#about .Unsplash {
  color: rgb(0, 128, 163);
}
#about a {
  font-family: "MyCustomFont", Source Sans 3;
  width: 150px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  background-color: rgb(22, 21, 21);
  color: white;
  padding: 20px;
  border: rgb(22, 21, 21);
  border-radius: 3px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

#services {
  font-family: "MyCustomFont", Source Sans 3;
  overflow-x: hidden;
  background-color: rgb(0, 128, 163);
  color: white;
  padding: 80px;
}
#services .mustache {
  background-color: white;
  width: 25px;
  height: 25px;
  color: blue;
  border-radius: 50%;
}
#services .pictures {
  display: flex;
  margin: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#services .material-symbols-outlined {
  background-color: white;
  border: white;
  padding: 30px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(0, 128, 163);
}
#services .servicetext {
  font-family: "MyCustomFont", Source Sans 3;
  color: rgb(241, 189, 32);
  font-size: small;
  text-align: center;
  margin-top: 30px;
  display: block;
}
#services h2 {
  font-size: 40px;
  font-family: "MyCustomFont", Source Sans 3;
  text-align: center;
}
#services .icon {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 10px;
}
#services .icon p {
  font-family: "MyCustomFont", Source Sans 3;
  font-size: 12px;
  font-weight: lighter;
  text-align: center;
}
#services .icon h4 {
  margin: 10px 0 2px 0;
  font-family: "MyCustomFont", Source Sans 3;
  font-weight: 500;
}

.welcome {
  font-family: "MyCustomFont", Source Sans 3;
  background-image: url(portfolio-4.jpg);
  background-size: cover;
  overflow-x: hidden;
  background-position: right center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.welcome .website {
  font-size: 50px;
  text-align: center;
  display: block;
}
.welcome a {
  font-family: "MyCustomFont", Source Sans 3;
  text-decoration: none;
  padding: 20px;
  color: white;
  background-color: rgb(0, 128, 163);
  border: rgb(0, 128, 163);
  border-radius: 3px;
  width: 150px;
  height: 50px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

#portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px;
  color: white;
  font-family: "MyCustomFont", Source Sans 3;
  margin: 60px;
}
#portfolio .servicetext {
  font-family: "MyCustomFont", Source Sans 3;
  color: rgb(241, 189, 32);
  text-align: center;
  font-size: 20px;
  display: block;
}
#portfolio .portfoliohead {
  font-size: larger;
  width: 100%;
  text-align: center;
  font-family: "MyCustomFont", Source Sans 3;
  color: black;
  font-size: 50px;
}
#portfolio .stationery {
  background-image: url(portfolio-1.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 450px;
  height: 45vh;
  padding: 40px;
}
#portfolio .icecream {
  background-image: url(portfolio-2.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 450px;
  height: 45vh;
  padding: 40px;
}
#portfolio .strawberries {
  background-image: url(portfolio-3.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 450px;
  height: 45vh;
  padding: 40px;
}
#portfolio .workspace {
  background-image: url(portfolio-4.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 450px;
  height: 45vh;
  padding: 40px;
}
#portfolio .items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  max-width: 900px;
  margin: 25px;
}
#portfolio .items h4 {
  font-family: "MyCustomFont", Source Sans 3;
  font-size: 15px;
}
#portfolio .items p {
  font-family: "MyCustomFont", Source Sans 3;
  font-size: 12px;
}

.twolinks {
  font-family: "MyCustomFont", Source Sans 3;
  background-color: teal;
  overflow-x: hidden;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
  padding: 80px;
}
.twolinks .resist {
  width: 100%;
  text-align: center;
}
.twolinks .button4 {
  text-decoration: none;
  background-color: white;
  color: black;
  margin: 10px;
  padding: 20px;
  border: white;
  border-radius: 3px;
  width: 150px;
  height: 50px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: "MyCustomFont", Source Sans 3;
}
.twolinks .button5 {
  text-decoration: none;
  background-color: rgb(100, 99, 99);
  color: white;
  margin: 10px;
  padding: 20px;
  border: rgb(100, 99, 99);
  border-radius: 3px;
  width: 150px;
  height: 50px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: "MyCustomFont", Source Sans 3;
}

.map {
  background-image: url("Flexbox-Project.png");
  background-size: cover;
  width: 100%;
  height: 70vh;
}

.footer1 {
  text-align: center;
  padding: 20px;
}
.footer1 i {
  background-color: rgb(0, 128, 163);
  border-radius: 50%;
  padding: 15px;
  margin: 10px 10px;
}
.footer1 p {
  font-family: "MyCustomFont", Source Sans 3;
  font-size: 10px;
  font-weight: lighter;
}

@media only screen and (max-width: 575.98px) {
  #ban {
    background-image: url(bg-masthead.jpg);
    background-size: cover;
    font-family: "MyCustomFont", Source Sans 3;
    height: 50vh;
    width: 100%;
    background-position: top center;
    position: relative;
  }
  #ban .navigation nav {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgb(33, 37, 41);
    z-index: 2;
    top: -100vh;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 1s;
  }
  #ban .navigation nav ul li {
    margin: 35px;
  }
  #ban .navigation nav ul li a {
    font-size: 40px;
    color: grey;
    text-decoration: none;
    padding: 10px;
  }
  #ban .navigation nav i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 20px;
    width: 25px;
    position: absolute;
    right: 35px;
    top: 30px;
    cursor: pointer;
    color: white;
    background-color: rgb(104, 101, 101);
    border-radius: 4px;
  }
  #ban .navigation i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 20px;
    position: fixed;
    right: 35px;
    top: 30px;
    cursor: pointer;
    color: white;
    background-color: rgba(104, 101, 101, 0.8);
    border-radius: 4px;
  }
  #ban .banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #ban .banner h1 {
    font-family: "MyCustomFont", Source Sans 3;
    font-size: 28px;
    position: absolute;
    top: 50%;
    left: 60%;
    text-align: center;
  }
  #ban .banner .para1 {
    font-family: "MyCustomFont", Source Sans 3;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
  }
  #ban .banner .button1 {
    font-family: "MyCustomFont", Source Sans 3;
    width: 110px;
    height: 30px;
    background-color: rgb(0, 128, 163);
    color: white;
    padding: 15px;
    border: rgb(0, 128, 163);
    border-radius: 3px;
    text-decoration: none;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
  #about {
    text-align: center;
    overflow-x: hidden;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #about h2 {
    font-family: "MyCustomFont", Source Sans 3;
    padding-bottom: 5px;
    font-size: 20px;
  }
  #about .para2 {
    font-family: "MyCustomFont", Source Sans 3;
    font-weight: lighter;
    font-size: 14px;
    color: rgb(87, 83, 83);
  }
  #about .Unsplash {
    color: rgb(0, 128, 163);
  }
  #about a {
    font-family: "MyCustomFont", Source Sans 3;
    width: 110px;
    height: 30px;
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(22, 21, 21);
    color: white;
    padding: 15px;
    border: rgb(22, 21, 21);
    border-radius: 3px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
  #services {
    font-family: "MyCustomFont", Source Sans 3;
    overflow-x: hidden;
    background-color: rgb(0, 128, 163);
    color: white;
    padding: 30px;
  }
  #services .mustache {
    background-color: white;
    width: 25px;
    height: 25px;
    color: blue;
    border-radius: 50%;
  }
  #services .pictures {
    display: flex;
    margin: 20px;
    flex-wrap: wrap;
    max-width: 100%;
  }
  #services .material-symbols-outlined {
    background-color: white;
    border: white;
    padding: 30px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 128, 163);
  }
  #services .servicetext {
    color: rgb(241, 189, 32);
    font-family: "MyCustomFont", Source Sans 3;
    font-size: small;
    text-align: center;
    margin-top: 30px;
    display: block;
  }
  #services h2 {
    font-size: 20px;
    font-family: "MyCustomFont", Source Sans 3;
    text-align: center;
  }
  #services .icon {
    width: 45%;
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 10px;
  }
  #services .icon p {
    font-family: "MyCustomFont", Source Sans 3;
    font-size: 12px;
    font-weight: lighter;
    margin-top: 5px;
  }
  #services .icon h4 {
    margin-top: 10px;
  }
  .welcome {
    font-family: "MyCustomFont", Source Sans 3;
    background-image: url(portfolio-4.jpg);
    background-size: cover;
    overflow-x: hidden;
    background-position: right center;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .welcome .website {
    font-size: 30px;
    text-align: center;
    display: block;
  }
  .welcome a {
    text-decoration: none;
    padding: 15px;
    color: white;
    background-color: rgb(0, 128, 163);
    border: rgb(0, 128, 163);
    border-radius: 3px;
    width: 110px;
    height: 30px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
  #portfolio {
    display: flex;
    flex-direction: column;
    padding: 30px;
    color: white;
    font-family: "MyCustomFont", Source Sans 3;
  }
  #portfolio h4 {
    font-size: 16px;
  }
  #portfolio p {
    font-size: 12px;
  }
  #portfolio .servicetext {
    color: rgb(241, 189, 32);
    text-align: center;
    font-size: 20px;
    display: block;
  }
  #portfolio .portfoliohead {
    font-size: larger;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 30px;
  }
  #portfolio .stationery {
    background-image: url(portfolio-1.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 300px;
    height: 30vh;
    padding: 10px;
    margin: 0 0 10px 0;
  }
  #portfolio .icecream {
    background-image: url(portfolio-2.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 300px;
    height: 30vh;
    padding: 10px;
    margin: 0 0 10px 0;
  }
  #portfolio .strawberries {
    background-image: url(portfolio-3.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 300px;
    height: 30vh;
    padding: 10px;
    margin: 0 0 10px 0;
  }
  #portfolio .workspace {
    background-image: url(portfolio-4.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 300px;
    height: 30vh;
    padding: 10px;
    margin: 0 0 10px 0;
  }
  #portfolio .items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    max-width: 300px;
    margin: 25px;
  }
  .twolinks {
    font-family: "MyCustomFont", Source Sans 3;
    background-color: teal;
    overflow-x: hidden;
    color: white;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 30px;
  }
  .twolinks .resist {
    width: 100%;
    text-align: center;
    font-size: 14px;
  }
  .twolinks .button4 {
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 15px;
    border: white;
    border-radius: 3px;
    width: 110px;
    height: 30px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: "MyCustomFont", Source Sans 3;
  }
  .twolinks .button5 {
    text-decoration: none;
    background-color: rgb(100, 99, 99);
    color: white;
    padding: 15px;
    border: rgb(100, 99, 99);
    border-radius: 3px;
    width: 110px;
    height: 30px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: "MyCustomFont", Source Sans 3;
  }
  .map {
    background-image: url("Flexbox-Project.png");
    background-size: cover;
    width: 100%;
    height: 30vh;
  }
  .footer1 {
    text-align: center;
    padding: 20px;
  }
  .footer1 i {
    background-color: rgb(0, 128, 163);
    border-radius: 50%;
    padding: 15px;
    margin: 10px 10px;
  }
  .footer1 p {
    font-family: "MyCustomFont", Source Sans 3;
    font-size: 10px;
    font-weight: lighter;
  }
}
@media only screen and (min-width: 577px) and (max-width: 992px) {
  #ban {
    background-image: url(bg-masthead.jpg);
    background-size: cover;
    height: 50vh;
    width: 100%;
    background-position: top left;
  }
  #ban .navigation nav {
    position: absolute;
    width: 100%;
    height: 50vh;
    background-color: rgb(33, 37, 41);
    z-index: 2;
    top: -100vh;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 1s;
  }
  #ban .navigation nav ul li {
    margin: 35px;
  }
  #ban .navigation nav ul li a {
    font-family: "MyCustomFont", Source Sans 3;
    font-size: 30px;
    color: grey;
    text-decoration: none;
    padding: 10px;
  }
  #ban .navigation nav i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 20px;
    width: 25px;
    position: absolute;
    right: 80px;
    top: 50px;
    cursor: pointer;
    color: white;
    background-color: rgb(104, 101, 101);
    border-radius: 4px;
  }
  #ban .navigation i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 20px;
    position: fixed;
    right: 80px;
    top: 50px;
    cursor: pointer;
    color: white;
    background-color: rgba(104, 101, 101, 0.8);
    border-radius: 4px;
  }
  #ban .banner {
    display: flex;
    flex-direction: column;
  }
  #ban .banner h1 {
    font-family: "MyCustomFont", Source Sans 3;
    font-size: 40px;
    padding-bottom: 5px;
  }
  #ban .banner .para1 {
    font-family: "MyCustomFont", Source Sans 3;
    font-weight: bold;
    font-size: 14px;
  }
  #ban .banner a {
    font-family: "MyCustomFont", Source Sans 3;
    width: 130px;
    height: 50px;
    background-color: rgb(0, 128, 163);
    color: white;
    padding: 20px;
    border: rgb(0, 128, 163);
    border-radius: 3px;
    text-decoration: none;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
  #about {
    overflow-x: hidden;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #about h2 {
    font-family: "MyCustomFont", Source Sans 3;
    padding-bottom: 5px;
    font-size: 20px;
  }
  #about .para2 {
    font-family: "MyCustomFont", Source Sans 3;
    font-weight: lighter;
    color: rgb(87, 83, 83);
    font-size: 13px;
  }
  #about .Unsplash {
    color: rgb(0, 128, 163);
  }
  #about a {
    font-family: "MyCustomFont", Source Sans 3;
    width: 120px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(22, 21, 21);
    color: white;
    padding: 20px;
    border: rgb(22, 21, 21);
    border-radius: 3px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
  #services {
    font-family: "MyCustomFont", Source Sans 3;
    overflow-x: hidden;
    background-color: rgb(0, 128, 163);
    color: white;
    padding: 40px;
  }
  #services .mustache {
    background-color: white;
    width: 25px;
    height: 25px;
    color: blue;
    border-radius: 50%;
  }
  #services .pictures {
    display: flex;
    margin: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #services .material-symbols-outlined {
    background-color: white;
    border: white;
    padding: 30px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 128, 163);
  }
  #services .servicetext {
    color: rgb(241, 189, 32);
    font-size: small;
    text-align: center;
    margin-top: 30px;
    display: block;
  }
  #services h2 {
    font-size: 20px;
    text-align: center;
  }
  #services .icon {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 10px;
  }
  #services .icon p {
    font-size: 12px;
    font-weight: lighter;
    margin-top: 5px;
  }
  #services .icon h4 {
    margin-top: 10px;
  }
  .welcome {
    font-family: "MyCustomFont", Source Sans 3;
    background-image: url(portfolio-4.jpg);
    background-size: cover;
    overflow-x: hidden;
    background-position: right center;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .welcome .website {
    font-size: 40px;
    text-align: center;
    display: block;
  }
  .welcome a {
    font-family: "MyCustomFont", Source Sans 3;
    text-decoration: none;
    padding: 20px;
    color: white;
    background-color: rgb(0, 128, 163);
    border: rgb(0, 128, 163);
    border-radius: 3px;
    width: 130px;
    height: 50px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
  #portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    color: white;
    font-family: "MyCustomFont", Source Sans 3;
    margin: 40px;
  }
  #portfolio .servicetext {
    color: rgb(241, 189, 32);
    text-align: center;
    font-family: "MyCustomFont", Source Sans 3;
    font-size: 20px;
    display: block;
  }
  #portfolio .portfoliohead {
    font-size: larger;
    width: 100%;
    text-align: center;
    font-family: "MyCustomFont", Source Sans 3;
    color: black;
    font-size: 40px;
  }
  #portfolio .stationery {
    background-image: url(portfolio-1.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 450px;
    height: 30vh;
    padding: 50px;
  }
  #portfolio .icecream {
    background-image: url(portfolio-2.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 450px;
    height: 30vh;
    padding: 50px;
  }
  #portfolio .strawberries {
    background-image: url(portfolio-3.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 450px;
    height: 30vh;
    padding: 50px;
  }
  #portfolio .workspace {
    background-image: url(portfolio-4.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 450px;
    height: 30vh;
    padding: 50px;
  }
  #portfolio .items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    max-width: 800px;
    margin: 15px;
  }
  .twolinks {
    font-family: "MyCustomFont", Source Sans 3;
    background-color: teal;
    overflow-x: hidden;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 80px;
  }
  .twolinks .resist {
    width: 100%;
    text-align: center;
  }
  .twolinks .button4 {
    text-decoration: none;
    background-color: white;
    color: black;
    margin: 10px;
    padding: 20px;
    border: white;
    border-radius: 3px;
    width: 150px;
    height: 50px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: "MyCustomFont", Source Sans 3;
  }
  .twolinks .button5 {
    text-decoration: none;
    background-color: rgb(100, 99, 99);
    color: white;
    margin: 10px;
    padding: 20px;
    border: rgb(100, 99, 99);
    border-radius: 3px;
    width: 150px;
    height: 50px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: "MyCustomFont", Source Sans 3;
  }
  .map {
    background-image: url("Flexbox-Project.png");
    background-size: cover;
    width: 100%;
    height: 40vh;
  }
  .footer1 {
    text-align: center;
    padding: 20px;
  }
  .footer1 i {
    background-color: rgb(0, 128, 163);
    border-radius: 50%;
    padding: 15px;
    margin: 10px 10px;
  }
  .footer1 p {
    font-family: "MyCustomFont", Source Sans 3;
    font-size: 10px;
    font-weight: lighter;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1024px) {
  #ban {
    background-image: url(bg-masthead.jpg);
    background-size: cover;
    height: 50vh;
    width: 100%;
    background-position: top left;
  }
  #ban .navigation nav {
    position: absolute;
    width: 100%;
    height: 50vh;
    background-color: rgb(33, 37, 41);
    z-index: 2;
    top: -100vh;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 1s;
  }
  #ban .navigation nav ul li {
    margin: 35px;
  }
  #ban .navigation nav ul li a {
    font-family: "MyCustomFont", Source Sans 3;
    font-size: 30px;
    color: grey;
    text-decoration: none;
    padding: 10px;
  }
  #ban .navigation nav i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 20px;
    width: 25px;
    position: absolute;
    right: 80px;
    top: 50px;
    cursor: pointer;
    color: white;
    background-color: rgb(104, 101, 101);
    border-radius: 4px;
  }
  #ban .navigation i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 20px;
    position: fixed;
    right: 80px;
    top: 50px;
    cursor: pointer;
    color: white;
    background-color: rgba(104, 101, 101, 0.8);
    border-radius: 4px;
  }
  #ban .banner {
    display: flex;
    flex-direction: column;
  }
  #ban .banner h1 {
    font-family: "MyCustomFont", Source Sans 3;
    font-size: 60px;
    padding-bottom: 5px;
  }
  #ban .banner .para1 {
    font-family: "MyCustomFont", Source Sans 3;
    font-weight: bold;
    font-size: 16px;
  }
  #ban .banner a {
    font-family: "MyCustomFont", Source Sans3;
    width: 140px;
    height: 60px;
    background-color: rgb(0, 128, 163);
    color: white;
    padding: 20px;
    border: rgb(0, 128, 163);
    border-radius: 3px;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
  #about {
    overflow-x: hidden;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #about h2 {
    font-family: "MyCustomFont", Source Sans 3;
    padding-bottom: 5px;
    font-size: 30px;
  }
  #about .para2 {
    font-family: "MyCustomFont", Source Sans 3;
    font-weight: lighter;
    color: rgb(87, 83, 83);
    font-size: 16px;
  }
  #about .Unsplash {
    color: rgb(0, 128, 163);
  }
  #about a {
    font-family: "MyCustomFont", Source Sans 3;
    width: 140px;
    height: 60px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(22, 21, 21);
    color: white;
    padding: 20px;
    border: rgb(22, 21, 21);
    border-radius: 3px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
  #services {
    font-family: "MyCustomFont", Source Sans 3;
    overflow-x: hidden;
    background-color: rgb(0, 128, 163);
    color: white;
    padding: 40px;
  }
  #services .mustache {
    background-color: white;
    width: 25px;
    height: 25px;
    color: blue;
    border-radius: 50%;
  }
  #services .pictures {
    display: flex;
    margin: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #services .material-symbols-outlined {
    background-color: white;
    border: white;
    padding: 30px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 128, 163);
  }
  #services .servicetext {
    color: rgb(241, 189, 32);
    font-family: "MyCustomFont", Source Sans 3;
    font-size: small;
    text-align: center;
    margin-top: 30px;
    display: block;
  }
  #services h2 {
    font-size: 30px;
    font-family: "MyCustomFont", Source Sans 3;
    text-align: center;
  }
  #services .icon {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 10px;
  }
  #services .icon p {
    font-family: "MyCustomFont", Source Sans 3;
    font-size: 12px;
    font-weight: lighter;
    margin-top: 5px;
  }
  #services .icon h4 {
    margin-top: 10px;
    font-family: "MyCustomFont", Source Sans 3;
  }
  .welcome {
    font-family: "MyCustomFont", Source Sans 3;
    background-image: url(portfolio-4.jpg);
    background-size: cover;
    overflow-x: hidden;
    background-position: right center;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .welcome .website {
    font-size: 40px;
    text-align: center;
    display: block;
  }
  .welcome a {
    text-decoration: none;
    padding: 20px;
    color: white;
    background-color: rgb(0, 128, 163);
    border: rgb(0, 128, 163);
    border-radius: 3px;
    width: 150px;
    height: 60px;
    font-family: "MyCustomFont", Source Sans 3;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
  #portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    color: white;
    font-family: "MyCustomFont", Source Sans 3;
    margin: 40px;
  }
  #portfolio .servicetext {
    color: rgb(241, 189, 32);
    text-align: center;
    font-size: 20px;
    display: block;
    font-family: "MyCustomFont", Source Sans 3;
  }
  #portfolio .portfoliohead {
    font-size: larger;
    width: 100%;
    text-align: center;
    font-family: "MyCustomFont", Source Sans 3;
    color: black;
    font-size: 40px;
  }
  #portfolio .stationery {
    background-image: url(portfolio-1.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 400px;
    height: 25vh;
    padding: 40px;
  }
  #portfolio .icecream {
    background-image: url(portfolio-2.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 400px;
    height: 25vh;
    padding: 40px;
  }
  #portfolio .strawberries {
    background-image: url(portfolio-3.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 400px;
    height: 25vh;
    padding: 40px;
  }
  #portfolio .workspace {
    background-image: url(portfolio-4.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 400px;
    height: 25vh;
    padding: 40px;
  }
  #portfolio .items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    max-width: 800px;
    margin: 15px;
  }
  .twolinks {
    font-family: "MyCustomFont", Source Sans 3;
    background-color: teal;
    overflow-x: hidden;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 80px;
  }
  .twolinks .resist {
    width: 100%;
    text-align: center;
  }
  .twolinks .button4 {
    text-decoration: none;
    background-color: white;
    color: black;
    margin: 10px;
    padding: 20px;
    border: white;
    border-radius: 3px;
    width: 150px;
    height: 60px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: "MyCustomFont", Source Sans 3;
  }
  .twolinks .button5 {
    text-decoration: none;
    background-color: rgb(100, 99, 99);
    color: white;
    margin: 10px;
    padding: 20px;
    border: rgb(100, 99, 99);
    border-radius: 3px;
    width: 150px;
    height: 60px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: "MyCustomFont", Source Sans 3;
  }
  .map {
    background-image: url("Flexbox-Project.png");
    background-size: cover;
    width: 100%;
    height: 40vh;
  }
  .footer1 {
    text-align: center;
    padding: 20px;
  }
  .footer1 i {
    background-color: rgb(0, 128, 163);
    border-radius: 50%;
    padding: 15px;
    margin: 10px 10px;
  }
  .footer1 p {
    font-family: "MyCustomFont", Source Sans 3;
    font-size: 10px;
    font-weight: lighter;
  }
}/*# sourceMappingURL=style.css.map */